* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 115px;
  font-family: $primary_font;
  font-size: 16px;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  max-height: 100%;
}

