.mainsingle {
  padding-left: calc(80px + 15px);
  &__content {
    &__image {
    }
    &__description {
      &__inner {
        @media screen and (min-width: 768px) {
          width: 50%;
          padding-left: 80px;
          padding-top: 30px;
        }
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }

}

.singleproduct {
  .mfp-img {
   cursor: pointer;
  }
  .mfp-force-scrollbars {
    &.mfp-wrap {
        overflow-y: auto !important;
        overflow-x: auto !important;
    }
    .mfp-img {
      max-width: none;
    }
    .mfp-close {
     position: fixed;
    }

  }
}

.whats_my_size {
  text-align: right;
  i {
    color: #fff;
    font-size: 12px;
    background-color: #1894d5;
    border-radius: 50%;
    padding: 7px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

.white-popup-block  {
  background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

.single_product_other_info {
  ul {

    li {
      padding: 5px 0;
      a {
        text-decoration: none;
        display: block;
        font-size: 0.75em;
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social_share_content {
    display: none;
    a {
      display: inline-block;
      padding: 5px 8px 0 0;
    }
  }
}
