
/*
* Card component
*/

body{
    background: #e6e6e6;
}
.sign_in_view{
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    padding: 40px 40px;
}

.sign_in_view .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
* Form styles
*/
.sign_in_view .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.sign_in_view .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sign_in_view .form-signin #inputEmail,
.sign_in_view .form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.sign_in_view .form-signin input[type=email],
.sign_in_view .form-signin input[type=password],
.sign_in_view .form-signin input[type=text],
.sign_in_view .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #c8c8c8;
}

.sign_in_view .form-signin .form-control:focus {
    box-shadow: none;
    border: 1px solid #c8c8c8;
}

.sign_in_view .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.sign_in_view .btn.btn-signin:hover,
.sign_in_view .btn.btn-signin:active,
.sign_in_view .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.sign_in_view .forgot-password {
    color: rgb(104, 145, 162);
}

.sign_in_view .forgot-password:hover,
.sign_in_view .forgot-password:active,
.sign_in_view .forgot-password:focus{
    color: rgb(12, 97, 33);
}