/* CircularStd @font-face kit */
@font-face {
  font-family: 'Circular-Black';
  src: url('../fonts/CircularStd-Black.eot');
  src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-BlackItalic';
  src: url('../fonts/CircularStd-BlackItalic.eot');
  src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Circular-Bold';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-BoldItalic';
  src: url('../fonts/CircularStd-BoldItalic.eot');
  src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Circular-Medium';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-MediumItalic';
  src: url('../fonts/CircularStd-MediumItalic.eot');
  src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular-Book';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-BookItalic';
  src: url('../fonts/CircularStd-BookItalic.eot');
  src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'AustinItalic';
    src: url('AustinItalic.eot');
    src: url('AustinItalic.eot?#iefix') format('embedded-opentype'),
        url('AustinItalic.woff2') format('woff2'),
        url('AustinItalic.woff') format('woff'),
        url('AustinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'canelaLight';
    src: url('canela-Light.eot');
    src: url('canela-Light.eot?#iefix') format('embedded-opentype'),
        url('canela-Light.woff2') format('woff2'),
        url('canela-Light.woff') format('woff'),
        url('canela-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'canelaBold';
    src: url('canela-Bold.eot');
    src: url('canela-Bold.eot?#iefix') format('embedded-opentype'),
        url('canela-Bold.woff2') format('woff2'),
        url('canela-Bold.woff') format('woff'),
        url('canela-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'FreightTextProBold';
    src: url('FreightTextProBold-Regular.eot');
    src: url('FreightTextProBold-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProBold-Regular.woff2') format('woff2'),
        url('FreightTextProBold-Regular.woff') format('woff'),
        url('FreightTextProBold-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextProSemibold';
    src: url('FreightTextProSemibold-Regular.eot');
    src: url('FreightTextProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProSemibold-Regular.woff2') format('woff2'),
        url('FreightTextProSemibold-Regular.woff') format('woff'),
        url('FreightTextProSemibold-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextProLight';
    src: url('FreightTextProLight-Regular.eot');
    src: url('FreightTextProLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProLight-Regular.woff2') format('woff2'),
        url('FreightTextProLight-Regular.woff') format('woff'),
        url('FreightTextProLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FreightTextProMedium';
    src: url('FreightTextProMedium-Regular.eot');
    src: url('FreightTextProMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightTextProMedium-Regular.woff2') format('woff2'),
        url('FreightTextProMedium-Regular.woff') format('woff'),
        url('FreightTextProMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBoldMT';
    src: url('Arial-BoldMT.eot');
    src: url('Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('Arial-BoldMT.woff') format('woff'),
        url('Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}