.btn-primary {
    background-color: black !important;
    border: none;
    border-radius: 0px;
    color: white !important;
    text-decoration: none !important;
}

.btn-primary:hover {
    background-color: black !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: black;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: black;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: black;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: black;
}

.prduct_desc h3 {
    color: black;
}

.single-product-video .p_title, .single-product-video .price{
    text-align: center;
    display: block;
}

.white_slide .logo img {
    height: 25px !important;
}