/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES 
02. HEADER 
03. NAV 
04. WELCOME SECTION 
*/

/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/

*{
	margin: 0;
	padding: 0;
}

a {
    color: black;
}

body{
	font-size: 14px;
    font-family: 'HelveticaNeue Condensed';
    color: #000;
}
a:hover, a:focus {
    box-shadow: 0 0px transparent;
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;

}
@media(max-width: 767px){
    .no-padding{
        padding-left: 15px;
        padding-right: 15px;
    }
    .no-padding-left{
        padding-left: 15px;
    }
    .no-padding-right{
        padding-right: 15px;

    }
}

/*---------------------------------------
    HEADER       
-----------------------------------------*/

.header_area{
    padding: 56px 17px 56px 65px;
    background: #fff;
}
.product_page .header_area {
    padding: 56px 17px 24px 65px;
}
.search_show .header_area {
    padding: 56px 17px 24px 65px;
}
.header_area{}
.header_menu{
    float: left;
    width: 33.33%;
}

.menu_arrow {
    opacity: 1;
    transition: 0.5s;
    position: absolute;
    padding: 63px 32px 33px 80px;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 2;
}
.menu_arrow span{
    width: 28px;
    height: 1px;
    background: #000;
    display: block;
    margin-bottom: 7px;
}

.menu_arrow:hover span{
    opacity: 0;
}
.header_menu_item{}
.main_cat{}
.menu_toggle .logo{
    padding-left: 0;
}
.menu_open .logo{
    padding-left: 0;
}
.search_show .logo{
    padding-left: 0;
}
.search_show .menu_arrow{
    opacity: 0;
}
.menu_open .menu_arrow{
    opacity: 0;
}
.home_page .header_menu_item_inner{
    top: 0!important;
}
.header_menu_item.remove_menu_fixed{
    opacity: 0!important;
    visibility: !important;
}

.header_menu_item {
    opacity: 0;
    visibility: hidden;
    top: 143px;
    transition: 0.5s;
    z-index: 25;
    background: white;
    position: fixed;
    left: 0;
    /* width: 180px; */
    padding: 0 28px;
    padding-left: 80px;
    padding-bottom: 60px;
    padding-top: 30px;
    min-height: 100%;
    padding-bottom: 60px;
}
.product_page .header_menu_item {
    opacity: 1;
    visibility: visible;
    max-width: 288px;
}
.product_page .logo {
    padding-left: 0;
}
.header_menu_item_inner{
    position: relative;
}
.header_menu_item_inner ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header_menu_item_inner ul{}
.header_menu_item_inner ul{}
.main_cat ul{}
.main_cat ul li{}
.main_cat ul li a{
    font-size: 22px;
    letter-spacing: 0.6px;
    display: block;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .6px;
    color: #000;
}
.main_cat{}
.sub_cat {
    margin-bottom: 15px;
}
.sub_cat ul{}
.sub_cat ul li{}
.sub_cat ul li a{
    letter-spacing: 0.2px;
    font-size: 13px;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
}
.sub_cat ul li  ul li{
    margin-left: 10px;
}
.menu_info{}
.menu_info .menu_info_head{}
.menu_info a.menu_info_head,.menu_info a.menu_info_head:focus {
    outline: 0;
    border: none;
    box-shadow: none;
    color: #000;
    padding-left: 0;
}


.white_slide .main_cat ul li a , .home_page .sub_cat ul li a{
    color: #fff;
}

.white_slide .menu_info a.menu_info_head, .white_slide .menu_info a.menu_info_head:focus {
    color: #fff;
}
.white_slide .white_logo{
    display: block;
}
.white_slide .black_logo{
    display: none;
}
.white_slide .logo img{
    height: 25px;
    position: absolute;
    top: -9px;
    left: 0;
}
.white_logo{
    display: none;
}
.white_slide .header_search a {
    color: #fff;
}

.white_slide .menu_arrow span {
    background: #fff;
}
.white_slide .header_search a:nth-of-type(2) span {
    border-bottom: 1px solid #fff;
}
.white_slide .header_right_menu ul li a {
    color: #fff;
}
.white_slide .header_right_menu ul li a span {
    color: #fff;
}
.white_shipping_bag{
    display: none;
}
.white_slide .white_shipping_bag{
    display: inline-block;
}
.white_slide .black_shipping_bag{
    display: none;
}


.home_page{}
.menu_info {}
.menu_open .header_menu_item {
    opacity: 1;
    visibility: visible;
}
.logo{
    display: inline-block;  
    position: relative;
    top: -2px;
    left: 4px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding-left: 56px;
    line-height: 32px;
}

.logo a{}
.logo img{
    height: 25px;
}
.header_search{
    float: left;
    width: 33.33%;
    text-align: center;
    position: relative;
    top: -5px;
}
.header_search_inner{
    display: inline-block;
    position: relative;
    top: 7px;
    left: -4px;
}
.header_search a{
    font-size: 18px;
    color: #000;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.header_search a:nth-of-type(2){
    height: 14px;
    width: 240px;
}
.header_search a:nth-of-type(2) span{
    display: block;
    border-bottom: 1px solid #000;
    position: relative;
    top: 8px;
    left: 9px;
}
.search_show .header_search {
    opacity: 0
}
.full-page-search{
    position: fixed;
    z-index: 20;
    width: 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background: #fff;
    padding: 105px 30px 0px 350px;
    opacity: 0;
    visibility: hidden;
}
.search_show .full-page-search{
    opacity: 1;
    visibility: visible;
}
.full-page-search-inner img{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.full-page-search-inner{}
.full-page-search-inner{
    position: relative;
}
.full-page-search input,.full-page-search input:focus{
    height: 45px;
    border: none;
    border-bottom: 1px solid #000;
    width: 95%;
    outline: 0;
    box-shadow: none;
    font-size: 32px;
    letter-spacing: 0.6px;
    font-family: 'Neue-Helvetica-Condensed', 'Roboto-Condensed','Helvetica','Arial', Sans-Serif;
    line-height: 32px;
    word-wrap: break-word;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}
.header_right_menu{
    float: left;
    width: 33.33%;
}
.header_right_menu{}
.header_right_menu ul{
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header_right_menu ul li{
    display: inline-block;
}
.header_right_menu ul li a{
    font-size: 12px;
    color: #000;
    padding: 5px 0px 5px 13px;
    position: relative;
    /*display: block;*/
}
/*.header_right_menu ul li a img {
    position: absolute;
    top: 0;
    left: 0;
}*/
.header_right_menu ul li a img{}
.header_right_menu ul li a span{
    position: absolute;
    top: 4px;
    left: 26px;
    font-size: 12px;
    color: #000;
}

@media(min-width: 992px){
    .product_page .menu_arrow {
        display: none;
    }
}
@media(max-width: 991px){
    .header_area {
        padding: 20px 0px;
        background: #fff;
    }
    .product_page .header_area {
        padding: 20px 0px;
    }
    .header_search{
        display: none;
    }
    .header_menu {
        width: 40%;
    }
    .header_right_menu {
        width: 60%;
        float: right;
    }
    .menu_arrow {
        padding: 30px 15px;
    }
    .logo {
        top: 0;
        left: 4px;
        padding-left: 36px;
    }

    .header_menu_item {
        top: 68px;
        padding-left: 30px;
    }
    .product_page.menu_open .header_menu_item {
        opacity: 1;
        visibility: visible;
    }
    .product_page .header_menu_item {
        top: 68px;
        z-index: 26;
        opacity: 0;
        visibility: hidden;
    }
    .product_page .logo {
        padding-left: 36px;
    }
    .product_page.menu_open .logo{
        padding-left: 0;
    }
    .login_page .logo {
        padding-left: 0px;
    }
    .white_slide .logo img {
        position: relative;
        top: 8px;
        left: 0;
    }
}

@media(max-width: 767px){
    .logo {
        padding-left: 30px;
    }
    .product_page .logo {
        padding-left: 30px;
    }
    .menu_arrow span {
        width: 22px;
        height: 1px;
        background: #000;
        display: block;
        margin-bottom: 5px;
    }
    .logo img {
        height: 13px;
    }
    .main_cat ul li a {
        font-size: 17px;
        line-height: 15px;
    }
     .header_menu_item {
        padding-left: 20px;
    }
    .white_slide .logo img {
        height: 13px;
    }
}
@media(max-width: 767px){}
/*---------------------------------------
    SINGLE PRODCUT AREA       
-----------------------------------------*/
.single_product_area{
        padding: 0px 17px 56px 65px;
        margin-top: 144px;
}
.product_thumbnail{}
.product_thumbnail a{
    margin-bottom: 32px;
    display: block;
}
.prduct_desc{
    margin: 50px 212px 0px 158px;
    position: fixed;
}
.prduct_desc.remove_fixed{
    position: relative;
}
.remove_fixed.prduct_desc_inner{
    top: 0;
}
.prduct_desc_inner{
    position: relative;
}
.prduct_desc h2{
    font-size: 18px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 31px;
    color: rgba(34,34,34);
}
.prduct_desc h3{}
.prduct_desc h3 {
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #f61111;
    margin-bottom: 16px;
    font-weight: bold;
}
.prduct_desc h3 span {
    text-decoration: line-through;
    color: rgba(34,34,34);
}
.prduct_desc p{
    font-size: 12px;
    color: rgba(34,34,34);
}
.product_size {}
.single_product_desc{}
.single_product_desc table {
  width: 100%;
  border-collapse: collapse;
}
.single_product_desc table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: left;
}

.single_product_desc table td, .single_product_desc table th {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.single_product_desc table {}
.single_product_desc table tr th{
      padding: 15px 0px 15px 9px;
}
.single_product_desc table tbody tr:nth-of-type(odd) {
    /*background-color: rgba(0,0,0,.05);*/
}
.single_product_desc table tr td{
      padding: 15px 0px 15px 9px;
}
.single_product_desc table tr td b{
     text-align: left;
}
.single_product_desc table input{
  width: 40px;
  border: 1px solid #ced4da;
  height: 25px;
  text-align: center;

}
.my_size {}
.my_size .modal-header .close {
    padding: 0;
    margin: -1rem -1rem -1rem auto;
    padding-bottom: 20px;
    padding-top: 10px;
}
.my_size .modal-header {
    padding: 0;
    border: none;
}
.my_size .modal-header button img {
    width: auto;
    height: auto;
    padding: 0;
}
.my_size .modal-header button, .my_size .modal-header button:focus {
    outline: 0;
    box-shadow: none;
}
.my_size button ,.my_size button:hover ,.my_size button:focus{
    display: block;
    margin-bottom: 12px;
    color: #000;
    font-size: 12px;
    background: transparent;
    border: none;
    box-shadow: none;
    padding-left: 0;
    margin-bottom: 6px;
    float: right;
    padding-right: 0;
}
.my_size .modal-header button , .my_size .modal-header button:focus{
    outline: 0;
    box-shadow: none;
}
.my_size .modal-content {
    border: 1px solid #DDD;
    padding: 20px 30px 30px;
}
.my_size img{
    width: 24px;
    height: 24px;
    padding-left: 8px;
}
.my_size button{
        font-size: 12px;
    color: rgba(34,34,34);
}
.add_cart {
    clear: both;
}
.add_cart a{
    border: 1px solid #fff;
    padding: 12px 24px;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin: 30px 0px;
    display: block;
}
.other_desc {}
.other_desc a{
    display: block;
    margin-bottom: 12px;
    color: #000;
    font-size: 12px;
}
.other_desc button ,.other_desc button:hover ,.other_desc button:focus{
    display: block;
    margin-bottom: 12px;
    color: #000;
    font-size: 12px;
    background: transparent;
    border: none;
    box-shadow: none;
    padding-left: 0;
    margin-bottom: 6px;
}
.other_desc > p{
    font-size: 12px;
    color: #ff37ae;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.other_desc p{}
.modal_composition .modal-dialog{
    max-width: 240px;
}
.modal-content{
    border: 1px solid #DDD;
    padding: 20px 30px 30px
}
.modal-header button , .other_desc .modal-header button:focus{
    outline: 0;
    box-shadow: none;
}
.modal-header{
    padding: 0;
    border: none;
}
.modal-header .close {
    padding: 0;
    margin: -1rem -1rem -1rem auto;
    padding-bottom: 20px;
    padding-top: 10px;
}
.modal-body{
    padding: 0;
}
.modal_composition .modal-body{}
.modal_composition ul{}
.modal_composition ul li{
    font-weight: 700;
    font-size: 12px;
    color: rgb(34,34,34);
    margin-bottom: 5px;
    text-transform: uppercase;
}
.modal_composition ul li span{
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}
.modal_composition ul li span{}
ul.popup_ic{
    position: relative;
}
ul.popup_ic li{
    display: inline-block;
    text-transform: uppercase;
}
ul.popup_ic li span {
    position: absolute;
    left: 9px;
    bottom: 18px;
    padding: 7px 10px;
    display: none;
    border: 1px solid #000;
    background: #fff;
    min-width: 50px;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    width: 100%;
    max-width: 125px;
    font-size: 11px;
    letter-spacing: 0.2px;
}
ul.popup_ic li.hover span {
    display: block;
}
ul.popup_ic li{}
.modal_shipping{}
.modal_shipping .modal-body{
    height: 538px;
    overflow-y: auto;
    padding-right: 25px;
}
.modal_shipping .modal-dialog{
    max-width: 690px;
}
.modal_shipping h2{
    font-size: 22px;
    letter-spacing: 0.3px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 44px;
    line-height: 1;
}

.modal_shipping h3{
    font-size: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;

}
.modal_shipping h4{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase
}
.modal_shipping h4{}
.modal_shipping p{
    font-size: 13px;
    letter-spacing: 0.2px;
    font-family: 'Neue-Helvetica', 'Roboto','Helvetica','Arial', Sans-Serif;
    margin-bottom: 20px;

}
.modal_shipping p a{
    color: inherit;
    text-decoration: underline;
    display: inline-block;

}
.modal_shipping ul{
}
.modal_shipping ul li{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    position: relative;
    padding-left: 15px;
}
.modal_shipping ul li:before{
    position: absolute;
    top: 8px;
    left: 6px;
    content: "";
    font-size: 20px;
    font-weight: 1000;
    width: 4px;
    height: 1px;
    background: #000;
}
.modal_shipping ul li span{
    font-size: 13px;
    letter-spacing: 0.2px;
    font-family: 'Neue-Helvetica', 'Roboto','Helvetica','Arial', Sans-Serif;
    margin-bottom: 20px;
    display: block;
    font-weight: normal;
    text-transform: initial;

}
.highlight_text{
    background-color: #ddd;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-family: 'Neue-Helvetica', 'Roboto','Helvetica','Arial', Sans-Serif;
    margin-bottom: 20px;
    display: block;
    font-weight: normal;
    text-transform: initial;
}
a.s_share_ic{
    margin-bottom: 0;
}
.social_share{
    display: none;
}
.social_share li{
    display: inline-block;
}
.social_share li a{
    display: block;
    font-size: 10px;
    color: #000;
    padding: 0px 5px;
}


@media(max-width: 991px){
    .single_product_area {
        padding: 0;
        margin-top: 80px;
    }
    .prduct_desc {
        margin: 0;
    }
}
@media(max-width: 767px){
    .prduct_desc {
        position: relative!important;
    }
    .prduct_desc_inner {
        position: relative;
        top: 0!important;
    }
}
/*---------------------------------------
    RELATED PRODUCT AREA       
-----------------------------------------*/

.related_product {
    padding: 10px 17px 56px 65px;
}
.related_product {}
.related_product_heading  {}
.related_product_heading h2 {
    font-size: 22px;
    margin-bottom: 32px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

#related_product.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: -64px;
    right: 0;
}
#related_product {}
#related_product.owl-theme .owl-nav button:focus{
    outline: 0;
}
#related_product.owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
}
.related_product_inner {}
.related_product_inner a {}
.related_product_inner a img {}
.related_product_inner h2 {
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #000;
    margin-bottom: 4px;
    padding-top: 20px;
}
.related_product_inner h3 {
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #f61111;
    margin-bottom: 16px;
}
.related_product_inner h3 span {
    text-decoration: line-through;
    color: #000;
}
.related_card select  {
    width: 190px;
    height: 40px;
    border: none;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
}
.related_card select  {}
.related_card a  {
    display: inline-block;
    border: 1px solid #000;
    padding: 11px 24px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 128px;
    font-weight: bold;
    margin-left: 0px;
}
.related_card a  {}

@media(max-width: 991px){
    .related_product {
        padding: 0;
        padding-top: 30px;
    }
}
/*---------------------------------------
    SIGNUP  AREA       
-----------------------------------------*/
.signup_area {
    padding: 150px 0px
}
.sign_up_inner {}
.sign_up_inner h2 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    margin-bottom: 70px;
}
.sign_up_inner input , .sign_up_inner input:focus {
    width: 350px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #000;
    height: 50px;
    box-shadow: none;
    outline: 0;
    text-align: center;
    border-radius: 0;

}
.social_inner {
    padding-top: 100px;
}
.social_inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.social_inner ul li {
    display: inline-block;
}
.social_inner ul li a {
    font-size: 12px;
    color: #000;
    position: relative;
    display: block;
    padding: 4px 20px;
    font-weight: 100;
}

@media(max-width: 991px){
    .related_product {
        padding: 0;
        padding-top: 30px;
    }
}

@media(max-width: 767px){
    .sign_up_inner input, .sign_up_inner input:focus {
        width: 100%;
    }
    .social_inner ul li a {
        padding: 6px 9px;
    }
    .social_inner {
        padding-top: 45px;
    }
    .signup_area {
        padding: 50px 0px;
    }
    .sign_up_inner h2 {
        margin-bottom: 15px;
    }
}


/*---------------------------------------
    FOOTER AREA       
-----------------------------------------*/
.footer_area{
    margin: 0px 32px;
    position: relative;
    z-index: 21;
}
.Footer_top{
    padding: 50px 0px 50px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}
.Footer_top{}
.Footer_top .container{
    max-width: 1000px;
}
.footer_menu{}
.footer_menu h2{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_menu ul li{}
.footer_menu ul li a{
    font-size: 14px;
    color: #000;
    position: relative;
    display: block;
    padding: 5px 0px;
    font-weight: 100;
}
.footer_bottom{
    padding: 44px 0px 57px;
}
.sitemap{}
.sitemap h2{
    font-size: 15px;
    color: #000;
    margin-bottom: 11px;
}
.sitemap ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitemap ul li{
    display: inline-block;

}
.sitemap ul li a{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: relative;
    padding: 5px 7px;
    display: block;
}
.sitemap ul li a:hover{
    text-decoration: underline;
}
.sitemap ul li a:before{
    position: absolute;
    top: 2px;
    left: -8px;
    content: "/";
    font-size: 18px;
    color: #000;
}
.sitemap ul li:first-child a{
    padding-left: 0;
}
.sitemap ul li:first-child a:before{
    position: absolute;
    top: 1px;
    left: -5px;
    content: "";
    font-size: 20px;
    color: #000;
}
.sitemap ul li a:before{}
.sitemap ul li a{}
.footer_copyright{}
.footer_copyright ul{
        margin: 0;
    padding: 0;
    list-style: none;
}
.footer_copyright ul li{
    font-size: 15px;
    color: #000;
    position: relative;
    display: inline-block;
    padding-left: 10px;
}
.footer_copyright ul li a{
    font-size: 15px;
    color: #000;
    position: relative;
    display: inline-block;
} 
.footer_copyright ul li a:before{
    position: absolute;
    top: -1px;
    left: -9px;
    content: "|";
    font-size: 17px;
    color: #000;
}
.footer_copyright ul li:first-child a{
    padding-left: 0;
}
.footer_copyright ul li:first-child a:before{
    position: absolute;
    top: 1px;
    left: -5px;
    content: "";
    font-size: 20px;
    color: #000;
}
.footer_copyright ul li a{} 
.footer_copyright p{
    font-size: 14px;
    color: grey;
    margin-top: 20px;
}
.footer_copyright p{}


@media(max-width: 767px){
    .Footer_top {
        padding: 50px 0px 10px;
    }
    .footer_bottom {
        padding: 40px 0px 23px;
    }
    .footer_area {
        z-index: 21;
         margin: 0;
       position: relative;
    }
    .footer_copyright{
        text-align: left!important;
        padding-top: 20px;
    }
    .footer_copyright p {
        margin-top: 7px;
    }
    .footer_copyright ul li {
        padding-left: 0;
    }
    .footer_menu {
        margin-bottom: 20px;
    }
    .footer_menu h2 {
        margin-bottom: 5px;
    }
}



/***********************************
    PRODUCT PAGE
*************************************/
.product_page {}


.product_page{}

.product_filter_area{
    margin-top: 100px;
    position: fixed;
    width: 100%;
    z-index: 25;
    background: #fff;
}
.product_filter_wrapper{
    text-align: right;
    padding-right: 17px;
}
.product_filter{
    padding: 14px 0px;
}
.product_filter li{
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    color: rgb(34,34,34);
    padding: 5px;
    text-transform: uppercase;
}
.product_filter li.active{
    font-weight: bold;
}
.filter_form {
    display: none;
    position: relative;
    z-index: 40;
    background: #fff;
}
.filter_form_inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 30px;
}
.filter_form_inner p{
    color: #999;
    font-size: 12px;
    padding: 50px 0px 30px;
}
.filter_confirm {
    text-align: center;
}
.filter_confirm a {
    padding: 3px 10px;
    display: inline-block;
    border:1px solid #000;
    color: #000;
}

.product_grid{
    padding-left: 288px;
    padding-right: 22px;
    padding-top: 160px;
    position: relative;
}
.product_grid_inner{
    margin-bottom: 30px;
}
.product_grid_inner_thumb {
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: block;
}
.product_grid_inner_thumb > img{
    width: 100%;
}

.product_grid_inner_thumb_grid {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;
    z-index: 5;
    background: #fff;
    padding: 10px 0px 0px;
}
.product_grid_inner_thumb:hover .product_grid_inner_thumb_grid{
    opacity: 1;
}
.product_grid_inner_thumb_grid .imge_thum_remove {
    width: 6px;
    height: 7px;
    position: absolute;
    top: 10px;
    right: 10px;
}
/*.product_grid_inner_thumb_grid img{
    width: 22%;
    padding: 0 1.5%;
    display: inline-block;
}*/
.product_grid_inner_thumb_grid ul{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.product_grid_inner_thumb_grid ul li{
    display: inline-block;
    width: 25%;
}
.product_grid_inner_thumb_grid ul li img{
    width: 30%;
    margin: 0 auto
}
.product_grid_inner_thumb_grid ul li p{
    text-align: center;
    text-transform: none;
    display: block;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Neue-Helvetica-Condensed, Roboto-Condensed, Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 0;
}
.product_grid_inner a img{}
.video_grid{
    padding-bottom: 73.56%;
    position: relative;
}
.video_wrapper {
    background: white;
    height: 100%;
    width: 100%;
}
.product_grid_inner_thumb video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product_grid_inner h2{
    letter-spacing: 0.2px;
    font-size: 13px;
    color: rgba(34,34,34);
    margin-bottom: 5px;
    margin-top: 20px;
}
.product_grid_inner h2 a{
    letter-spacing: 0.2px;
    font-size: 13px;
    color: rgba(34,34,34);
} 
.product_grid_inner h2 a:hover{
text-decoration: underline;
} 
.product_grid_inner h3{
    letter-spacing: 0.2px;
    font-size: 13px;
    color: rgba(34,34,34);
}

.four_grid_area{
    display: none;
}
.two_grid_area{
    display: none;
}
.four_grid_area.four_grid_show{
    display: block;
}
.two_grid_area.two_grid_show{
    display: block;
}


@media(max-width: 991px){
    .product_filter_wrapper {
        padding-right: 0;
    }
    .product_filter_area {
        margin-top: 72px;
    }
    .product_grid{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 160px;
    }
}
@media(max-width: 991px){}


/**********************************
HOME PAGE
***********************************/
.home_page{}
.home_page .header_area{
    background: transparent;
}
.home_page .header_menu_item{
    background: transparent;
}
.home_page .header_menu_item{}
.banner_item video{
width: 100%;
}
.owl-video {}


/***********************************
    CART PAGE
***********************************/
.shipping_cart_area{}
.shipping_cart_area{
    padding-left: calc(12% + 149px);
    padding-right: calc(12% + 0px);
    padding-bottom: 145px;
    padding-top: 169px;

}
.shipping_cart_area{
    font-family:Roboto, Helvetica, Arial, sans-serif;
}
.shipping_cart_area h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .9px;
    color: #000;
    padding: 0 0 30px;
}
.shipping_cart_area{}
.cart_table {
    font-family:Roboto, Helvetica, Arial, sans-serif;
}
.cart_table table{
    min-width: 800px;
}
.cart_table thead tr th{
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .3px;
    border: none;
    padding-left: 0;
}
.cart_table .table  tbody  tr:first-child{
    border-top: 1px solid #d3d3d3;
}
.cart_table .table  tbody  tr{
    border-bottom: 1px solid #d3d3d3;
}
.cart_table .table  tbody  tr  td:first-child img{
    max-width: 84px;
    height: auto;
}
.cart_table .table  tbody  tr  td a{
    color: #000;
}
.cart_table .table  tbody  tr  td a span{
    color: #d3d3d3;
}
.cart_table .table  tbody  tr  td:last-child img{
    cursor: pointer;
}
.cart_table .table  tbody  tr  td {
     vertical-align: middle;
     padding-left: 0;
}

.cart_input_number{}
.cart_input_number button ,.cart_input_number button:focus{
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.cart_input_number input{
    background: transparent;
    width: 25px;
    border: none;
    box-shadow: none;
    font-size: 17px;
    color: rgb(34,34,34);
    text-align: center;
}
.cart_total{}
.cart_total ul{
    text-align: right;
    width: 320px;
    float: right;
    padding: 30px 15px 20px;
    font-family:Roboto, Helvetica, Arial, sans-serif;
}
.cart_total ul li{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(34,34,34);
    margin-bottom: 5px;
}
.cart_total ul li:nth-of-type(3){
    font-size: 20px;
    font-weight: 500;
}
.cart_total ul li span{
    display: block;
    margin-bottom: 7px;
}
.cart_total ul li span:first-child{
    width: 50%;
    float: left;
}
.cart_total ul li span:last-child{
    width: 50%;
    float: left;
}

/*CART GIFT RECEIPT*/
.cart_gift_checkbox {}
.cart_gift_checkbox {
    padding: 30px 0px;
    position: relative;
}
.cart_gift_checkbox:before{
    position: absolute;
    top: 0;
    left: 50%;
    width: 110px;
    height: 1px;
    background: #d3d3d3;
    margin-left: -50px;
    content: "";
}
.cart_gift_checkbox:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 110px;
    height: 1px;
    background: #d3d3d3;
    margin-left: -50px;
    content: "";
}

/* Base for label styling */
.cart_gift_checkbox label{
    margin-bottom: 0;
}
.cart_gift_checkbox [type="checkbox"]:not(:checked),
.cart_gift_checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.cart_gift_checkbox [type="checkbox"]:not(:checked) + label,
.cart_gift_checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.cart_gift_checkbox [type="checkbox"]:not(:checked) + label:before,
.cart_gift_checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 1px solid #000;
  background: #fff;
  border-radius: 0px;
}
/* checked mark aspect */
.cart_gift_checkbox [type="checkbox"]:not(:checked) + label:after,
.cart_gift_checkbox [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 4px;
    left: 3px;
    font-size: 13px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
    font-weight: bold;
}
/* checked mark aspect changes */
.cart_gift_checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.cart_gift_checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* accessibility */
.cart_gift_checkbox [type="checkbox"]:checked:focus + label:before,
.cart_gift_checkbox [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #000;
}

.cart_gift_recept_content{
    display: none;
}
.cart_gift_recept_content_form{
    padding: 50px 0px;
}
.cart_gift_recept_content p{
    max-width: 920px;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin-top: -8px;
    background: #fff;
}
.cart_gift_recept_content{}
.left_input{
    max-width: 440px;
}
.right_input{
    max-width: 360px;
}
.cart_gift_recept_content label{
    font-size: 18px;
    text-overflow: ellipsis;
    font-weight: 400;
    color: rgba(34,34,34);
    padding-left: 0;
    padding-bottom: 10px;
}
.cart_gift_recept_content span{
    font-size: 12px;
    font-style: italic;
    opacity: .65;
    padding: 0 0 2px;
    width: 100%;
    text-align: right;
    float: right;
    display: block;
    padding-top: 5px;
}
.cart_gift_recept_content input{
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 10px;
}
.cart_gift_recept_content input:focus{
    outline: 0;
    box-shadow: none;
    border-color: #000; 
}
.cart_gift_recept_content .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.cart_gift_recept_content .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 0px;
  transition: all 200ms;
  opacity: 0.5;
  color: rgba(34,34,34);
}

.cart_gift_recept_content .form-control:focus + .form-control-placeholder,
.cart_gift_recept_content .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: rgba(34,34,34);
    opacity: 0.5;
}

.continue_shipping{}
.continue_shipping{
    margin-top: 30px;
}
.continue_shipping a{
    font-size: 15px;
    padding: 12px 24px;
    border: 1px solid #000;
    background: #fff;
    display: inline-block;
    color: #000;
    min-width: 165px;
    text-align: center;
    padding-top: 15px;
    height: 50px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.continue_shipping a:nth-of-type(2){
    background: #000;
    color: #fff;
    float: right;
}
.continue_shipping a:hover{
    background: #d2d2d2;
    border-color: #d2d2d2;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media(max-width: 991px){
    .shipping_cart_area {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-top: 90px;
    }
    .cart_page .logo {
        padding-left: 0px;
    }
}

@media(max-width: 767px){
    .cart_table .table tbody tr td:first-child img {
        max-width: 44px;
        height: auto;
    }
    .continue_shipping a {
        font-size: 12px;
        padding: 12px 19px;
        min-width: 150px;
        padding-top: 14px;
        float: right;
        margin-bottom: 15px;
        height: auto;
    }
    .cart_gift_recept_content_form {
        padding: 30px 0px 0px;
    }
}
@media(max-width: 574px){
    .cart_total ul {
        width: 100%;
        padding: 30px 5px 20px;
    }
    .cart_total ul li:nth-of-type(3) {
        font-size: 15px;
        font-weight: 500;
    }
}
/***********************************
    PROCESS ORDER
************************************/
.process_order{
    padding-left: calc(12% + 149px);
    padding-right: calc(12% + 0px);
    padding-bottom: 145px;
    padding-top: 169px;

}
.process_order > h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .9px;
    color: #000;
    padding: 0 0 0px;
}
.process_order .breadcrumb{
    background: transparent;
    padding-left: 0;
}
.process_order .breadcrumb{}
.process_order .breadcrumb li:first-child{
    color: #000;
}
.process_order .breadcrumb li{
        color: #999;
    font-weight: 400;
    margin-right: 0px;
    display: inline;
    font-size: 13px;
    padding-right: 25px;
    position: relative;
}
.process_order .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    color: #6c757d;
    content: "";
    background: url(../images/arrow-right.png);
    width: 14px;
    height: 13px;
    background-size: cover;
    position: absolute;
    top: 3px;
    left: -22px;
}
.process_order > h3{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .9px;
    color: #000;
    padding: 50px 0 20px;
}
.process_order > h3{}

.process_checkbox{}
.process_checkbox ul{}
.process_checkbox ul li:last-child{
    border-bottom: 1px solid #d3d3d3; 
}
.process_checkbox ul li{}
.process_checkbox ul li input{}
.process_checkbox ul li label{
    border-top: 1px solid #d3d3d3;
    padding: 20px 0px;
    margin-bottom: 0;
}
.process_checkbox ul li label h2{
    font-size: 18px;
    margin-bottom: 1px;
    margin-bottom: 20px;
}
.process_checkbox ul li label h2 b{
    color: #000;
}
.process_checkbox ul li label p{
    color: #727272;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
}
.process_checkbox ul li label span{
    color: #000;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 45px;
    right:0; 
}
.process_checkbox ul li label span b{
    font-weight: 700; 
}
.process_checkbox ul li {}
.process_order [type="radio"]:checked,
.process_order [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.process_order [type="radio"]:checked + label,
.process_order [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    line-height: 20px;
    display: block;
    color: #666;
}
.process_order [type="radio"]:checked + label:before,
.process_order [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
    margin-top: -11px;
}
.process_order [type="radio"]:checked + label:after,
.process_order [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: -7px;
}
.process_order [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.process_order [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.billing_address {}
.billing_address_inner {
    width: 40%;
    float: left;
}
.billing_address_inner h2 {
    font-size: 24px;
    margin: 60px 0 25px;
    padding-bottom: 0;
    font-weight: 600;
    display: block;
}
.billing_address_inner p {
        font-size: 14px;
    line-height: 1.3;
    margin-top: 0;
}
.billing_address_inner p span{
    color: #959595;
    display: block;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
}
.billing_address_inner p span{}
.process_shipping{
    margin-top: 50px;
}
.process_shipping a{
    background: #000;
    color: #fff;
    float: right;
    font-size: 15px;
    padding: 12px 24px;
    border: 1px solid #000;
    display: inline-block;
    color: #fff;
    min-width: 195px;
    text-align: center;
    padding-top: 15px;
    height: 50px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;  
}
.process_shipping a:hover{
    background: #d2d2d2;
    border-color: #d2d2d2;
}
.process_shipping a{}


@media(max-width: 991px){
    .process_order {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-top: 90px;
    }
    .billing_address {
        padding: 30px 15px 0px;
    }
    .billing_address_inner {
        width: 100%;
    }
    .billing_address_inner h2 {
        margin: 0px 0px 10px;
    }
    .process_shipping {
        margin-top: 20px;
    }
    .process_checkbox ul li label h2 {
        margin-bottom: 5px;
    }
    .process_order > h3 {
        padding: 10px 0 12px;
    }
}
@media(max-width: 767px){
    .process_checkbox ul li label span {
        position: relative;
        top: 12px;
        display: block;
    }
    .process_order [type="radio"]:checked + label, .process_order [type="radio"]:not(:checked) + label {
        padding-left: 35px;
    }
    .process_shipping a {
        font-size: 12px;
        min-width: 120px;
        padding-top: 9px;
        height: 35px;
    }
}
/*****************************
    MY ACCOUT PAGE
******************************/
.my_account_area {
    padding-left: calc(176px + 96px + 96px);
    padding-right: 32px;
    padding-top: 112px;
}
.my_account_area > h2{
    line-height: 22px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(34,34,34);
}
.my_account_area{}
.my_account_area ul{}
.my_account_area ul li{
    margin-bottom: 30px;
}
.my_account_area ul li h2{
    line-height: 22px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.my_account_area ul li h2 a{
    color: rgb(34,34,34);
}
.my_account_area ul li h2 a{}
.my_account_area ul li p{
    color: rgb(34,34,34);
    font-size: 12px;
}

.myaccont_menu ul li a{
    font-size: 15px;
}
.myaccont_menu ul li {
    margin: 10px 0 10px;
    line-height: 20px;
    text-transform: uppercase;
}
.myaccont_menu ul li:last-child a{
    margin-top: 40px;
    text-transform: initial;
}
.my_account_page .header_menu_item.remove_menu_fixed {
    opacity: 1!important;
    visibility: visible!important;
}


@media(max-width: 991px){
    .my_account_area {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 112px;
    }
    .my_account_area > h2 {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
@media(max-width: 991px){}
/**********************************
    LOGIN PAGE
***********************************/
.login_area{
    padding-left: calc(176px + 96px + 96px);
    padding-right: 32px;
    padding-top: 112px;
    padding-bottom: 150px;
}
.login_wrapper{
    max-width: 950px;
}
.login_inner h2{
    font-family: 'Neue-Helvetica', 'Roboto','Helvetica','Arial', Sans-Serif;
    font-size: 24px;
    margin-bottom: 14px;
    padding-bottom: 0;
    font-weight: bold;
}
.login_inner p{
    font-size: 14px;
    margin-bottom: 20px;
}
.login_inner{
    padding: 50px 0px;
}

.login_inner{
    width: 50%;
    float: left;
}
.login_inner_form{
    max-width: 80%;
}
.login_inner_form .form-group{
    margin-top: 50px;
}
.login_inner_form > a{
    font-size: 14px;
    text-decoration: underline;
    color: #808080;
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}
.login_inner label{
    font-size: 18px;
    text-overflow: ellipsis;
    font-weight: 400;
    color: rgba(34,34,34);
    padding-left: 0;
    padding-bottom: 10px;
}
.login_inner span{
    font-size: 12px;
    font-style: italic;
    opacity: .65;
    padding: 0 0 2px;
    width: 100%;
    text-align: right;
    float: right;
    display: block;
    padding-top: 5px;
}
.login_inner input{
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 10px;
}
.login_inner input:focus{
    outline: 0;
    box-shadow: none;
    border-color: #000; 
}
.login_inner .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.login_inner .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 0px;
  transition: all 200ms;
  opacity: 0.5;
  color: rgba(34,34,34);
}

.login_inner .form-control:focus + .form-control-placeholder,
.login_inner .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: rgba(34,34,34);
    opacity: 0.5;
}
.login_inner button:hover{
    color: #fff;
    background: #d2d2d2;
}
.login_inner button , .login_inner button:focus{
    border: 1px solid #fff;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
    padding: 15px 60px!important;
    outline: 0;
    box-shadow: none;
    max-width: 100%;
}

@media(max-width: 991px){
    .login_area {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 112px;
        padding-bottom: 30px;
    }
}
@media(max-width: 767px){
    .login_inner {
        width: 100%;
        padding: 0;
    }
    .login_inner_form {
        max-width: 100%;
    }
    .login_inner_form .form-group {
        margin-top: 10px;
    }
    .login_inner button, .login_inner button:focus {
        padding: 10px 35px!important;
        font-size: 12px!important;
    }
}
/***********************************
    SINGLE ELEMENT
************************************/
.single_element{
    margin: 50px 0px;
}
button.cq_btn ,button.cq_btn:focus{
    border: 1px solid #fff;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
    padding: 10px 20px;
    outline: 0;
    box-shadow: none;
    max-width: 100%;
}
button.cq_btn.small {
    padding: 10px 20px;
}
button.cq_btn.medium {
    padding: 10px 50px;
}
button.cq_btn.big {
    padding: 10px 90px;
}
button.btn_with_border ,button.btn_with_border:focus{
    background: transparent;
    border: 1px solid #000;
    color: #000;
}
.cq_btn button{}

.cq_input , .cq_input:focus{
    border: 1px solid #ced4da;
    height: 30px;
    outline: 0;
    box-shadow: none;
    padding: 15px;
    margin:10px 0px;
    width: 100%;
}
.cq_input.small{
        max-width: 40px;
}
.cq_input.medium{
        max-width: 100px;
}
.cq_input.big{
        max-width: 240px;
}

.cq_pagination{
    margin: 10px 0px;
}
.cq_pagination {}
.cq_pagination  li{
    color: #000;
}
.cq_pagination  li a ,.cq_pagination  li a:hover ,.cq_pagination  li a:focus{
    color: #000;
    outline: 0;
    box-shadow: none;
}
.cq_pagination  li a{}



.custom_input {
    position: relative;
    margin-top: 40px;
}
.custom_input label{
    font-size: 18px;
    text-overflow: ellipsis;
    font-weight: 400;
    color: rgba(34,34,34);
    padding-left: 0;
    padding-bottom: 10px;
}
.custom_input span{
    font-size: 12px;
    padding: 0 0 2px;
    width: 100%;
    text-align: left;
    float: left;
    display: block;
    padding-top: 5px;
    color: #898989;
}
.custom_input.has_error span{
    color: red
}
.custom_input input{
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 10px;
    max-width: 300px;
    width: 100%;
}
.custom_input input:focus{
    outline: 0;
    box-shadow: none;
    border-color: #000; 
}
.custom_input.has_error input{
    outline: 0;
    box-shadow: none;
    border-color: red; 
}
.custom_input .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 0px;
  transition: all 200ms;
  opacity: 0.5;
  color: rgba(34,34,34);
}

.custom_input .form-control:focus + .form-control-placeholder,
.custom_input .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: rgba(34,34,34);
    opacity: 0.5;
}

#select_box{
    border: none;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 10px;
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    text-overflow: ellipsis;
    font-weight: 400;
    color: rgba(34,34,34);
    padding-left: 0;
    padding-bottom: 10px;
    margin: 10px 0px;
}
#select_box:focus{
    outline: 0;
    box-shadow: none;
    border-bottom: 2px solid #000;
}

/* checkbox aspect */
.custom_checkbox {
    position: relative;
}
.custom_checkbox {
    margin: 10px 0px;
}
.custom_checkbox [type="checkbox"]:not(:checked),
.custom_checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom_checkbox [type="checkbox"]:not(:checked) + label,
.custom_checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
.custom_checkbox [type="checkbox"]:not(:checked) + label:before,
.custom_checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 1px solid #000;
  background: #fff;
  border-radius: 0px;
}
/* checked mark aspect */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after,
.custom_checkbox [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 4px;
    left: 3px;
    font-size: 13px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
    font-weight: bold;
}
/* checked mark aspect changes */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom_checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* accessibility */
.custom_checkbox [type="checkbox"]:checked:focus + label:before,
.custom_checkbox [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #000;
}